* {
    margin: 0px;
    padding: 0px;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
}

.inter-normal-2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
}

.nave-section {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
  
  

}

.nave-section button {
    background-color: rgba(78, 71, 255, 1);
    color: white;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
}

.nave-section button:hover {
    background-color: olive;
}

.nave-section h2 {
    gap: 30px;
    color: rgba(78, 71, 255, 1);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.hero-section {
    display: flex;
    font-style: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 170px;
   

}

.hero-section h1 {
    font-size: 80px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: 0px;
}

.hero-section button {
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    border: none;
    width: 174px;
    height: 48px;


}

.hero-section button:hover {
    background-color: olive;
}

.main-action {
    display: flex;
    justify-content: center;
    margin: 46px 160px 115px 141px;
}

.Action {

    width: 1140px;
    height: 328px;

}

.See-Action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.See-Action h2{
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.See-Action p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
     font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.See-Action img {
    border-radius: 48px;
}

.See-Action button {
    width: 229px;
    height: 48px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    margin-top: 23px;
}

.See-Action button:hover {
    background-color: olive;
}

.Explore {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Explore h2 {
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.Explore p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.box-maine-maine {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.box-maine {
    background-color: #E5E7FF;
    padding: 50px 142px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 24px;
    
}

.box-maine h1{
    font-style: bold;
    text-align: center;
    font-size: 38px;
    padding: 10px 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.box-container {
    display: flex;
    justify-content: space-between;
    width: 856px;
    height: 110px;

}

.box h2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}

.box p{
    color: rgba(0, 0, 0, 0.5);
    padding-left: 30px;
}

.users-say {
    width: 366px;
    background-color: white;
    gap: 30px;
    padding: 24px 24px;
}

.avatar {
    display: flex;

    margin-top: 24px;
    gap: 15px;
}

.image-contain{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
}
.image-contain img {
    overflow:hidden;

     
}

.avatar h4 {
    color: rgb(117, 117, 117);
}

.avatar p {
    color: gray;
}

.what-our {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.our h1 {
    font-size: 42px;
    padding: 50px 70px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.What-our-users-say {
    display: flex;
    justify-content: center;
    padding: 137px 149px 50px 151px;

}

.What-our-users-say h1 {
    text-align: center;
    padding-top: 50px;

}

.users-say img {
    padding-bottom: 20px;
}

.users-say h2 {
    padding-bottom: 10px;
}

main {
    padding-top: 100px;
    background-color: #F5F8FF;
    
}

.babu {
    border-radius: 48px;
    margin-bottom: 30px;

}

.focus {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding-bottom: 30px;
    margin: 127px;
    border-radius: 20px;

}

.Ready-to-focus {}

.better {
    text-align: center;
    margin-top: 70px;

}

.better h1 {
    font-size: 50px;
    font-weight: 516px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.better p {
    color: rgba(0, 0, 0, 0.5);
}

.better button {
    width: 195px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    font-size: 16px;
    margin-bottom: 30px;

}

.better button:hover {
    background-color: olive;
}

.comment {
    display: flex;
    justify-content: center;
}

.comment-section {
    display: flex;
    height: 50%;
    width: 80%;
    justify-content: center;
    align-items: center;

}

.comment-section h1 {
    font-size: 97px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    margin-left: 50px;


}

input[type="email"],
[type="text"] {
    width: 497px;
    height: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    border: none;
    padding: 20px;
}

textarea{
    width: 470px;
    height: 110px;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 30px;
    border: none;
      font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

input[type="button"] {
    background-color: #4E47FF;
    color: white;
    width: 534px;
    height: 62px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

input[type="button"]:hover {
    background-color: olive;
}

.form {
    padding-bottom: 30px;

}
.form p{
    padding: 8px;
    font-size: 18px;
      font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.fotter {
    text-align: center;
}

footer {
    width: 1440px;
    height: 428px;
    background-color: white;
}

.fotter h1 {
    color: #4E47FF;
    font-size: 100px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.fotter p {
    color: rgba(137, 135, 161, 1);
}

.navbar a {
    text-decoration: none;
    padding: 20px;
    color: rgba(137, 135, 161, 1);
}